<div class="mt-4">
  <div class="row">
    <div class="col-md-9">
      <h2>{{course.name}}</h2>
      <iframe
        width="890"
        height="621"
        src="https://www.youtube.com/embed/{{course.videoId}} "
        title="Tổng quan về khóa học HTML CSS tại F8 | Học lập trình web cơ bản | Học được gì trong khóa học?"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
      <p>{{course.description}}</p>
    </div>
    <div class="col-md-3">
      <button>Hoc Ngay</button>
    </div>
  </div>
</div>
