<form method='post' action='/searchItem'>
  <div class='mb-3'>
    <label for='exampleInputEmail1' class='form-label'>Từ khóa</label>
    <input
      type='text'
      name='q'
      class='form-control'
      placeholder='Nhập từ khóa...'
    />
    <div id='emailHelp' class='form-text'>We'll never share your email with
      anyone else.</div>
  </div>
  <div class='mb-3'>
    <select name='gender'>
      <option value=''>--Chọn giới tính--</option>
      <option value='Male'>Male</option>
      <option value='Male'>Female</option>
    </select>
  </div>
  <button type='submit' class='btn btn-primary'>Search</button>
</form>